<h1 id="title" class="title">Change Password</h1>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
    <p class="alert-title"><b>Oh snap!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
    </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
    <p class="alert-title"><b>Hooray!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
    </ul>
</nb-alert>

<form (ngSubmit)="changePassword()" #form="ngForm" aria-labelledby="title">

    <div class="form-control-group">
        <span class="label-with-link">
            <label class="label" for="input-password">Current Password:</label>
        </span>
        <input nbInput fullWidth [(ngModel)]="changePass.CurrentPassword" #CurrentPassword="ngModel"
            name="CurrentPassword" id="input-CurrentPassword" fieldSize="large"
            [status]="CurrentPassword.dirty ? (CurrentPassword.invalid  ? 'danger' : 'success') : 'basic'"
            [required]="getConfigValue('forms.validation.password.required')" [minlength]=6 [maxlength]=12
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[.$@$!%*?&])[A-Za-z\d.$@$!%*?&].{7,}"
            [attr.aria-invalid]="CurrentPassword.invalid && CurrentPassword.touched ? true : null">
        <ng-container *ngIf="CurrentPassword.invalid && CurrentPassword.touched ">
            <p class="caption status-danger" *ngIf="CurrentPassword.errors?.pattern">
                Password sai format!
            </p>
        </ng-container>
    </div>


    <div class="form-control-group">
        <span class="label-with-link">
            <label class="label" for="new-password">New Password:</label>
        </span>
        <input nbInput fullWidth [(ngModel)]="changePass.NewPassword" #NewPassword="ngModel" name="NewPassword"
            id="input-NewPassword" fieldSize="large"
            [status]="NewPassword.dirty ? (NewPassword.invalid  ? 'danger' : 'success') : 'basic'"
            [required]="getConfigValue('forms.validation.password.required')" [minlength]=6 [maxlength]=12
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[.$@$!%*?&])[A-Za-z\d.$@$!%*?&].{7,}"
            [attr.aria-invalid]="NewPassword.invalid && NewPassword.touched ? true : null">
        <ng-container *ngIf="NewPassword.invalid && NewPassword.touched ">
            <p class="caption status-danger" *ngIf="NewPassword.errors?.pattern">
                Password sai format!
            </p>
        </ng-container>
    </div>

    <div class="form-control-group">
        <span class="label-with-link">
            <label class="label" for="input-confirmpassword">Confirm New Password:</label>
        </span>
        <input nbInput fullWidth [(ngModel)]="confirmPassword" name="confirmPassword" id="input-confirmPassword"
            fieldSize="large" [status]="comparePassword()  ? 'danger' : 'basic'"
            [required]="getConfigValue('forms.validation.password.required')">
        <p class="caption status-danger" *ngIf="comparePassword()">
            Password is not math!
        </p>
    </div>
    <button nbButton fullWidth status="primary" size="large" [disabled]="submitted || !form.valid"
        [class.btn-pulse]="submitted">
        Change Password
    </button>
</form>